/*body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{

    letter-spacing: 2px;
}

p{

    letter-spacing: 1px;
    font-size:14px;
}
*/
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #E6E6E6;
}

