/*body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{

    letter-spacing: 2px;
}

p{

    letter-spacing: 1px;
    font-size:14px;
}
*/
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    /*letter-spacing: 1px;*/
    font: 14px;
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}
