extends layout
block content

    .jumbotron.inverse
        .container
            .col-md-12
                h1 Find a movie
                    small  try movies 2015
                input#search(type='search',  placeholder='Enter query')
    .container
        div#results
            include template.html
    footer
        p © 2015


    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js")
    script(src="/javascripts/main.js")

