extends layout
block content

    .jumbotron
        .container
            .col-md-8
                h1 Find a movie:
                input#search(type='search',  placeholder='Enter query')
    .container
        .col-md-4
            h2 Title
            ul#results
            include template.html
    footer
        p © 2015


    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js")
    script(src="/javascripts/main.js")

