extends layout
block content

    .jumbotron
        .container
            .col-md-8
                h1 Find a movie:
                form.form-inline(action="/", method="post")
                    .form-group
                        input#query.form-control(type='text', name='query', placeholder='Enter query')
                    button.btn.btn-default(type='submit') Submit
    footer
        p © 2015

