<script id="search-results" type="text/x-handlebars-template">
<div class="col-md-12">
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Rating</th>
            <th>Votes</th>
            <th>Size</th>
            <th>Seeds</th>
            <th>Quality</th>
        </tr>
    </thead>
    <tbody>
     {{#each movies}}
        <tr>
            {{#imdbQuery}}
            <td>{{Title}}</td>
            <td>{{imdbRating}}</td>
            <td>{{imdbVotes}}</td>
            {{/imdbQuery}}
            {{#torrentQuery}}
                {{#torrentInfo}}
                    <td>{{size}}</td>
                    <td>{{seeds}}</td>
                {{/torrentInfo}}
                {{#contentInfo}}
                    <td>{{quality}}</td>
                {{/contentInfo}}
            {{/torrentQuery}}
        </tr>
      {{/each}}
    </tbody>
</table>
</div>
</script>
