
<script id="search-results" type="text/x-handlebars-template">
<div class="col-md-12">
<table class="table table-hover table-bordered tablesorter" id="mainTable">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Rating</th>
            <th># of Votes</th>
            <th>Quality</th>
            <th>Size</th>
            <th>Seeds</th>
            <th>Torrent Link</th>
            <th>IMDB link</th>
            <th>Plot</th>
        </tr>
    </thead>
    <tbody>
     {{#each movies}}
        <tr>
            {{#imdbQuery}}
                <td>{{@index}}</td>
                <td>{{Title}}</td>
                <td>{{imdbRating}}</td>
                <td>{{imdbVotes}}</td>
            {{/imdbQuery}}
            {{#torrentQuery}}
                {{#contentInfo}}
                    <td>{{quality}}</td>
                {{/contentInfo}}
                {{#torrentInfo}}
                    <td>{{size}}</td>
                    <td>{{seeds}}</td>
                    <td><a href='https://torrentz.eu/{{hash}}'>Download</a></td>
                {{/torrentInfo}}
            {{/torrentQuery}}
            {{#imdbQuery}}
                <td><a href='http://www.imdb.com/title/{{imdbID}}'>Imdb Link</a></td>
                <td>{{Plot}}</td>
            {{/imdbQuery}}
        </tr>
      {{/each}}
    </tbody>
</table>
</div>
</script>
